.dashboard {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    /* light grey background for the entire dashboard */
}

.main-content {
    flex: 3;
    padding: 20px;
    overflow: auto;
    border-right: 1px solid #ddd;
    /* separating line between main content and sidebar */
}

.sidebar {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
    height: 100%;
    overflow: auto;
    background-color: #f9f9f9;
    /* slightly different background for the sidebar */
}

.sidebar nav {
    margin-bottom: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

/* New styles for widgets */
.widget {
    background-color: #fff;
    /* white background for each widget */
    border: 1px solid #ddd;
    /* border around each widget */
    border-radius: 4px;
    /* rounded corners */
    padding: 20px;
    margin-bottom: 20px;
    /* space between widgets */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    /* Add a background color to highlight the navbar */
    border-bottom: 1px solid #ddd;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    /* Make the link a flex container to align the icon and text */
    align-items: center;
    /* Align the icon and text vertically */
}

.navbar ul li a svg {
    margin-right: 5px;
    /* Add some space between the icon and the text */
}

.navbar ul li a:hover {
    color: #888;
}